name = "sdk-rust"

[defaults]
builder = "docker:generic"
runner = "local:docker"

[builders."docker:generic"]
enabled = true

[runners."local:docker"]
enabled = true

[[testcases]]
name = "example"
instances = { min = 1, max = 1, default = 1 }